.Rproj.user
.Rhistory
.RData
Coin.gif
APAStyle.css~
Arithmetic Test.Rmd
Binomial (manipulate p).R
ChiSquareAdding.R
ChiSquareAdding.gif
Composite.gif
CompositeStatistics.html
CompositeStatistics.md
CompositeStatistics_files
CorrelationAnimation.gif
CovarianceCorrelation-tikzDictionary
CovarianceCorrelation.html
Dataset1.sav
"Normal, chi, t, and F.md"
.goutputstream-68DESX
.goutputstream-6T6TSX
.goutputstream-L1OJSX
.goutputstream-Y3XJSX
.txt
EditibleVectorGraphics.R
Expected Values-cache
Expected Values-rpubs.html
Expected Values.md
HTML Tables.R
Homework1.html
Homework2.html
ImportLatex.R
Introduction to R-figure
Introduction to R.html
Introduction to R.md
Introduction to R_files
Introduction_to_RMarkdown.docx
Introduction_to_RMarkdown.html
LittleModel.png
LittleModel.pptx
MathJax-2.4-latest
MatrixAlgebraInR.html
MatrixAlgebraInRLecture.Rmd
MatrixAlgebraInRLecture.html
Normal, chi, t, and F-cache
Normal, chi, t, and F-figure
Normal, chi, t, and F.Rpres
Normal, chi, t, and F.html
Normal, chi, t, and F_files
Normal,_chi,_t,_and_F.pdf
Normal2Chi.R
Normal2Chi.gif
NormalAdding.R
NormalAdding.gif
NormalBins.gif
NormalPercentiles.R
NormalPercentiles.pdf
NormalPercentiles.svg
NormalPercentiles.tex
NormalSamples.gif
ProbabilityDensityFunction.Rpres
RMarkdownStyle.css~
RandomVariables-tikzDictionary
RandomVariables.Rmd
RandomVariables.Rpres
RandomVariables.html
Reliability-figure
Reliability.Rpres
Reliability.html
Reliability.md
Rhtml.html
RisingTide.jpg
Simulating Random Data.R
SimulatingRandomData.html
SimulatingRandomData_cache
SimulatingRandomData_files
TestTheoryTemplate.pptx
Thumbs.db
capture
captureoutput.pdf
captureoutput.ps
cm-lgc
cmsyase.afm
cmsyase.pfb
continous.svg
destructiontest.pdf
doc
docx.css
edit.pptx
figure
fonts
gs_dynlinks.js
header.html
in_header.html~
lib
pdfBins.R
psheader.txt
slides.css~
tex
.RDataTmp
.RProfile
